.home {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .home__row1{
      display: flex;
      justify-content: space-evenly;
  }

  .home__row2{
      display: flex;
  }